.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  width: 50vw;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

@media screen and (max-width: 740px) {
  .screen {
    width: 80vw;
  }

  .app-form-group.tel {
    width: 100%;
  }
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-button {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 3px;
  border-radius: 9px;
  background: white;
}

.screen-header-button:hover, .screen-header-right:hover {
    filter:brightness(2);
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 5px;
  height: 5px;
  margin-left: 2px;
  border-radius: 50%;
  background: #999;
}

.screen-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-body-item {
  flex: 1;
  padding: 20px;
  width: 100%;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}
.app-form {
  margin-top: 50px;
}
.app-form-group {
  margin-bottom: 15px;
  width: 50%;
}

.app-form-group.message {
  margin-top: 40px;
  width: 100%;
}

.app-form-group.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.app-form-control {
  width: 100%;
  padding: 10px 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;

  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: var(--secondary-color);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 20px;
    position: relative;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media screen and (min-width: 741px) {
  .svg-small {
    display: none;
  }
}

.svg-small {
  width: 200px;
  position: absolute;
  right: 10px;
  top: 75px;
}

@media screen and (max-width: 550px) {
  .svg-small {
    width: 150px;
  }
}

@media screen and (max-width: 410px) {
  .svg-small {
    width: 120px;
  }
}

@keyframes flowers {
  from {
    opacity: 0;
  }
  to {
    fill: white;
    opacity: 1;
  }
}

#Vector_42Form{
    animation: flowers 1.5s infinite both ease-in-out alternate;
}

#Vector_33Form{
    animation: flowers 1s infinite both ease-in-out alternate;
    animation-delay:1s;
}
#Vector_88Form{
    animation: flowers 1.5s infinite both ease-in-out alternate;
    animation-delay:0.5s;
}
#Vector_96Form{
    animation: flowers 1s infinite both ease-in-out alternate;
    animation-delay:1.75s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 30px #4D4D4F inset;
  box-shadow:0 0 0px 30px #4D4D4F inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color:  #ddd;
  
}

.hidden {
  display: none;
}