

    html {
        color: rgb(245, 225, 11);
        color:rgb(170, 156, 5);
        color:rgb(6, 129, 111);
        color:rgb(8, 185, 216); 
        background: linear-gradient(rgb(6, 129, 111)0%, rgb(8, 185, 216) 100% );
        color:rgb(241, 244, 247);
        color:rgb(32, 32, 32);
        background: radial-gradient(rgba(78, 93, 141, 0.925),rgba(124, 23, 207, 0.89));
        color: rgb(150, 3, 3);
    }

   /*  --primary-color: rgb(0,202,172);
    --secondary-color: rgb(5,217,254);
    --primary-bg : rgb(0,202,172);
    --secondary-bg:rgb(5,217,254); */